<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户操作 -->
<mapper namespace="com.david.dsupermarket.dao.UserDao">
	<resultMap type="User" id="UserResult">
		<result property="uid" column="uid" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createDate" column="createDate" />
		<result property="state" column="state" />
	</resultMap>

	<!-- 根据用户名查找用户。 -->
	<select id="findUserByUsername" parameterType="String"
		resultType="User">
		select * from tb_user where username=#{username}
	</select>
	<!-- 插入用户 -->
	<insert id="addUser" parameterType="User">
		insert into tb_user
		values(null,#{username},#{password},now(),#{state},#{role})
	</insert>
	<!-- 更新用户的信息 -->
	<update id="updateUser" parameterType="User">
		update tb_user
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="state!=null and state!=''">
				state=#{state},
			</if>
			<if test="role!=null and role!=''">
				role=#{role},
			</if>
		</set>
		<if test="uid!=null and uid!=''">
			where uid=#{uid}
		</if>
	</update>

	<!--<select id="find" resultMap="BloggerResult"> select * from t_blogger 
		where id=1; </select> -->
</mapper>